<div class="row">
	<div class="col-sm-8 col-md-8">
		<h2>Welkom op de kinesitherapiepraktijk</h2>
		<p class="main-meta">Michel Vanmechelen</p>
		<p>
			Wij heten U van harte welkom op onze praktijk.
			In dit document krijgt U informatie over de werking en afspraken met de kinesist.
			Onze openingsuren zijn van maandag tot vrijdag tussen 8 uur 's morgens en 8 uur 's avonds.
			Wij helpen U liefst op de praktijk, maar als U echt niet uit de voeten kan, komen wij graag bij U op huisbezoek, eveneens op afspraak.
			Wij zijn telefonisch bereikbaar tussen 8 en 20 u. op nr.: 011/680547 of GSM. 0496/510547
			Ons e-mail adres: <%= mail_to "michel@kine&#8209;vanmechelen.be" %>
		</p>
		<h2>Wat wij behandelen en aanbieden:</h2>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<ul>
					<li>Kritische ontwikkelingsbegeleiding</li>
					<li>Mindfulness (aandachtstraining)</li>
					<li>Psychosomatische klachten</li>
					<li>Neurologische stoornissen</li>
					<li>CVS</li>
					<li>Fibromyalgie</li>
					<li>Psychomotoriek</li>
					<li>Rugschool</li>
					<li>Hartrevalidatie</li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-6">
				<ul>
					<li>Gezondheidswandelingen</li>
					<li>Personal coaching</li>
					<li>Leermoeilijkheden</li>
					<li>Gedragsmoeilijkheden</li>
					<li>Stress</li>
					<li>Relaxatietechnieken</li>
					<li>Bewegingsconsulent; doorvoeld bewegen</li>
					<li>Houdingscorrecties</li>
					<li>Sportkinesitherapie</li>
				</ul>
			</div>
		</div>
		<br>
		<p>
			In geval U vragen heeft over wat er op onze praktijk gebeurt, aarzel niet het te vragen.
			Elke behandeling wordt voorafgegaan door een nauwkeurige probleemanalyse en onderzoek.
		</p>
		<p>
			Wij maken er een punt van om iedereen die zich aanmeldt binnen één week een afspraak te kunnen geven. Een acuut probleem vangen wij op binnen 48 uur.
		</p>
		<p>
			Zo U niet op een afspraak aanwezig kan zijn, gelieve dan 24 u. op voorhand af te melden. Zo U zonder afmelden afwezig bent, mogen wij de behandeling aanrekenen, doch zonder recht op terugbetaling.
		</p>
	</div>


	<div class="col-sm-4 col-md-4">
		<div class="main-box">
			<h4>Openings uren</h4>
			<h5>Enkel op afspraak</h5>
			<table width="100%">
				<thead>
					<tr>
						<td width="">&nbsp;</td>
						<td width="">Uren</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Maandag</td>
						<td>8u - 21u</td>
					</tr>
					<tr>
						<td>Dinsdag</td>
						<td>8u - 21u</td>
					</tr>
					<tr>
						<td>Woensdag</td>
						<td>8u - 21u</td>
					</tr>
					<tr>
						<td>Donderdag</td>
						<td>8u - 21u</td>
					</tr>
					<tr>
						<td>Vrijdag</td>
						<td>8u - 21u</td>
					</tr>
					<tr>
						<td>Zaterdag</td>
						<td>GESLOTEN</td>
					</tr>
					<tr>
						<td>Zondag</td>
						<td>GESLOTEN</td>
					</tr>
				</tbody>
			</table>
			<div class="button">
				<a href="#"><i class="icon-calendar"></i> Vraag NU een afspraak!</a>
			</div>
		</div>
	</div>
</div>